/*********************************
* Whoever reads this Code is gay *
**********************************/

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background 0.3s, color 0.3s;
}
.header {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.dark-mode-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: black;
}

.changefile-button {
    position: absolute;
    top: 10px;
    left: 20px;
    text-align: left;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: black !important;
    text-decoration: none !important;
}

.changefile-button:link,
.changefile-button:visited,
.changefile-button:hover,
.changefile-button:active {
    text-decoration: none !important;
    color: black !important;
}

.dark-mode .changefile-button {
    color: white !important;
}


.dark-mode .dark-mode-button {
    color: white;
}
.quote {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.qoutetext {
    font-size: 18px;
    text-indent: 2em;
    margin-left: 0;
    text-align: left;
    display: block;
    white-space: pre-line;
}

.quoteheading {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    text-align: center;
}
/* Dark mode styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #f4f4f4;
}
.dark-mode .header {
    background: #333;
    color: #f4f4f4;
}
.dark-mode .quote {
    background: #444;
    color: #f4f4f4;
}
.hr-50 {
    width: 50%;
    margin: auto;
}

.footer {
    text-align: center;
    padding: 20px;
    flex: auto;
    font-style: italic;
}